<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-primary" data-th-object="${labTestDetail}">
        <div class="panel panel-heading text-center">
            <h4><b><span data-th-text="${labTestDetail.name}"></span></b></h4>
        </div>
        <div class="panel panel-body">
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <h3>Id : <span data-th-text="${labTestDetail.id}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Test Code : <span data-th-text="${labTestDetail.code}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Test Name : <span data-th-text="${labTestDetail.name}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Test Done Place : <span data-th-text="${labTestDetail.labtestDoneHere}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Department : <span data-th-text="${labTestDetail.department.department}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Price : <span data-th-text="${labTestDetail.price}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3>
                            Sample Collecting Tube : <span data-th-text="${labTestDetail.sampleCollectingTube}"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid" data-th-if="${labTestDetail.description != null}">
                        <h3>
                            Description : <span data-th-utext="${labTestDetail.description}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container-fluid">
                    <h3>Contain Laboratory Test Parameter:</h3>
                    <ol>
                        <li data-th-each="labTestParameters : ${labTestDetail.labTestParameters}"
                            data-th-text="${labTestParameters.name}"></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid text-center col-sm-12">
                    <a href="/labTest">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span>&nbsp; Back
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* footer is */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script is included */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>